@page
@model Schedules.Index
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Food</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model.Data.Schedules)
        {
            string selectedRow = "";
            if (item.Id == Model.Data.Id)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <display-tag for="Data.Schedules[i].Name" />
                </td>
                <td>
                    <display-tag for="Data.Schedules[i].Date" />
                </td>
                <td>
                    <display-tag for="Data.Schedules[i].Duration" />
                </td>
                <td>
                    @{
                        foreach (var food in item.Servings)
                        {
                            @food.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-page="Edit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="UpdateFood" asp-route-id="@item.Id">Food</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@if (Model.Data.ServingInfo.Any())
{
    <h3>Following items served in the meeting</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Time In</th>
        </tr>
        @foreach (var item in Model.Data.ServingInfo)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayTime</td>
            </tr>
        }
    </table>
}
